$ip = "http://87.117.252.6:67/"

$font1path = "avenir/avenir"
$font2path = "bebas/BEBAS"
$font3path = "manksans/manksans"

$font1 = $ip + $font1path
$font2 = $ip + $font2path
$font3 = $ip + $font3path

@font-face 
	font-family Avenir
	src url($font1+'.eot')
	src url($font1+'.svg#avenir') format('svg'), url($font1+'.ttf') format('truetype'), url($font1+'.woff') format('woff')
	font-weight normal
	font-style normal

@font-face 
	font-family Bebas
	src url($font2+'.eot')
	src url($font2+'.svg#avenir') format('svg'), url($font2+'.ttf') format('truetype'), url($font2+'.woff') format('woff')
	font-weight normal
	font-style normal

@font-face 
	font-family Manksans
	src url($font3+'.eot')
	src url($font3+'.svg#avenir') format('svg'), url($font3+'.ttf') format('truetype'), url($font3+'.woff') format('woff')
	font-weight normal
	font-style normal