@import 'nib'
@import "mixins"
@import "nav"
@import "fonts"

html
	background white

#content
	width 1060px
	margin 20px auto
	column-count 3
	column-gap 20px
	clearfix()
	.post
		overflow hidden
		border 20px solid white
		width 300px
		position relative
		box-shadow 0 5px 20px rgba(0,0,0,.135)
		#figure
			// overflow hidden
			// position absolute
			margin-left -150px // centers hidden canvas
